* {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 100px 0 50px 0;
}

.search-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 2.5rem;
}

.search-form input {
  display: block;
  padding: 5px;
  border-radius: 9px;
  border-color: white;
  width: 50%;
}

.search-form {
  padding: 10px;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.input button {
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.input button:hover {
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.pokemon-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

.poke-card {
    padding: 10px;
    margin: 0px 100px;
}

.detailed-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detailed-card img {
    height: 10rem;
    width: 10rem;
}